
#main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    
}
#bg-color{
    /* background-color: rgb(206, 192, 192); */
    background-color: rgb(169, 171, 199);
    height: 100%;
}
@media only screen and (max-width : 900px) {
    h3{
        font-size: .95rem;
    }
}